version 5.226.0
source https://www.nuget.org/api/v2

storage:none

# Lowest version of Fable.Core that have the improve jsNative error message
# See: https://github.com/thoth-org/Thoth.Json/issues/128
nuget Fable.Core >= 4.2.0 lowest_matching: true
nuget FSharp.Core redirects:force,lowest_matching: true
nuget Newtonsoft.Json >= 11.0.2 lowest_matching:true
