@import "./../node_modules/bulma/sass/utilities/initial-variables";

$primary: #2D3947;
$text: #2b2b2b;

$navbar-item-color: $white;
$navbar-background-color: $primary;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: lighten($primary, 8%);

$toc-item-active-color: $primary;
$toc-item-active-font-weight: bold;

$body-size: 14px;

@import "./../node_modules/bulma/bulma.sass";
@import "./../node_modules/nacara/scss/nacara.scss";

input[type="checkbox"], input[type="radio"] {
    margin-right: .5em;
}

// Need to underline the current TOC item because chrome doesn't handle
// font-weight: 1000 and because primary is pretty dark it doesn't work well with a small font-weight
// Underline helps working around this issue
.toc-container {
    a {
        &.is-active {
            text-decoration: underline;
        }
    }
}
